<p>New Parent</p>

<%= form_for @parent do |p|%>

  <div class="field">
    <%= p.label :name %><br>
    <%= p.text_field :name %>
  </div>
  <div class="field">
    <%= p.label :email %><br>
    <%= p.text_field :email %>
  </div>
  <div class="field">
    <%= p.label :password %><br>
    <%= p.password_field :password %>
  </div>
  <div class="field">
    <%= p.collection_select :student_id, @current_user.students, :id, :name %>
  </div>
  <div class="actions">
    <%= p.submit %>
  </div>
<% end %>
